<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>SiiCA - Miembros</title>
    <link rel="shortcut icon" href="http://localhost:63342/SiiCA/imagenes/IconoSiiCA.ico"/>
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/imagenes/iconos/css/uicons-regular-rounded.css">


</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text" style="margin-top: 15px" >
                <span class="image">
                    <a href="http://localhost:63342/SiiCA/templates/Miembros.html"><img src="http://localhost:63342/SiiCA/imagenes/LogoSiiCA.png" ></a>
                </span>

                <div class="text logo-text">
                    <a href="http://localhost:63342/SiiCA/templates/Miembros.html"><img src="http://localhost:63342/SiiCA/imagenes/LetrasSiiCA.png" alt="" style="height: 30px"></a>
                </div>
            </div>
            <i class='fi-rr-angle-small-right toggle' style="color: #DDD"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-search-alt icon' ></i>
                            <span class="text nav-text">Consultar solicitudes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-file-chart-line icon' ></i>
                            <span class="text nav-text">Solicitudes votadas</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Secretario_Tecnico/Secretario_Tecnico.html">
                            <i class='fi-rr-book-alt icon' ></i>
                            <span class="text nav-text">Secretario técnico</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Presidente/Presidente.html">
                            <i class='fi-rr-id-card-clip-alt icon' ></i>
                            <span class="text nav-text">Presidente</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="">
                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Miembros/Cuenta.html">
                        <i class='fi-rr-user-gear icon' ></i>
                        <span class="text nav-text">Cuenta</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                        <i class='fi-rr-sign-out-alt icon' ></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">

        <h1 class="text" style="text-align: center; margin-bottom: 0px" ><b>Miembros de Comité Académico</b></h1>

        <div align="center" class="container cuadro">
            <h4 style="margin-top: -5px; margin-bottom: 10px"><b>Solicitud de Comité Académico</b></h4>
            <form>
                <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -81.5%">Datos del alumno</label>
                <div class="input-group" style="width: 94%; margin-left: -1%">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Número de control</span>
                    </div>
                    <input type="text" class="form-control rounded-left" disabled>


                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Nombre completo</span>
                    </div>
                    <input type="text" class="form-control rounded-left " style="width: 16%" disabled>
                    <input type="text" class="form-control rounded-left" disabled>
                    <input type="text" class="form-control rounded-left" disabled>
                </div>

                <div class="input-group" style="width: 70%; margin-left: -25%; margin-top: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Carrera</span>
                    </div>
                    <input type="text" class="form-control rounded-left" style="width: 50%;" disabled>

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Semestre</span>
                    </div>
                    <input type="text" class="form-control rounded-left" disabled>
                </div>

                <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -88%;margin-top: 20px">Solicitud</label>
                <div class="input-group" style="width: 50%; margin-left: -45%; margin-top: 5px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Asunto</span>
                    </div>
                    <input type="text" class="form-control rounded-left" style="width: 50%;" disabled>
                </div>

                <div class="form-group" style="width: 95%">
                    <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -93%">Motivos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="resize: none" disabled></textarea>
                </div>

                <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -87%;margin-top: 20px">Sustentos</label>
                <div style="width: 60%; margin-left: -35%">
                    <div class="list-group" style="text-align: left;">
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                    </div>
                </div>

                <div class="form-group" style="width: 95%">
                    <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -80.5%">Evaluación de la solicitud</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="resize: none" disabled></textarea>
                </div>

                <div style="margin-top: 20px; margin-right: -71%">
                    <button type="button" class="btn btn-outline-secondary">Postponer</button>
                    <button type="button" class="btn btn-primary">Aprobar</button>
                    <button type="button" class="btn btn-danger">No aprobar</button>
                </div>
            </form>
        </div>

        <div class="">
            <h6 style="text-align: center">
                © Tecnológico Nacional de México, 2023
            </h6>
        </div>
    </section>

    <script src="http://localhost:63342/SiiCA/templates/js/script-sidebar.js"></script>

</body>
</html>