{% load static %}
<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>SiiCA - Alumnos</title>
    <link rel="shortcut icon" href="{% static 'imagenes/IconoSiiCA.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconos/uicons-regular-rounded.css' %}">


</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text" style="margin-top: 15px" >
                <span class="image">
                    <a href="{% url 'alumnos_principal' %}"><img src="{% static 'imagenes/LogoSiiCA.png' %}" ></a>
                </span>

                <div class="text logo-text">
                    <a href="{% url 'alumnos_principal' %}"><img src="{% static 'imagenes/LetrasSiiCA.png' %}" alt="" style="height: 30px"></a>
                </div>
            </div>
            <i class='fi-rr-angle-small-right toggle' style="color: #DDD"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'alumnos_nueva' %}">
                            <i class='fi-rr-add-document icon' ></i>
                            <span class="text nav-text">Nueva solicitud</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'alumno_consulta' %}">
                            <i class='fi-rr-search-alt icon' ></i>
                            <span class="text nav-text">Consultar solicitudes</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="">
                <li class="nav-link">
                    <i class='fi-rr-circle-user icon' ></i>
                    <span class="text nav-text">{{ request.user.first_name }}</span>
                </li>

                <li class="nav-link">
                    <a href="{% url 'alumnos_cuenta' %}">
                        <i class='fi-rr-user-gear icon' ></i>
                        <span class="text nav-text">Cuenta</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'logout' %}">
                        <i class='fi-rr-sign-out-alt icon' ></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">

        <h1 class="text" style="text-align: center; margin-bottom: 0px" ><b>Alumnos</b></h1>

        <div align="center" class="container cuadro">
            <h4 style="margin-top: -5px; margin-bottom: 10px"><b>Solicitud de Comité Académico</b></h4>
            <form>


                <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -88%;margin-top: 20px">Solicitud</label>
                <div class="input-group" style="width: 70%; margin-left: -25%; margin-top: 5px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Asunto</span>
                    </div>
                    <input type="text" class="form-control rounded-left" style="width: 50%;" disabled>

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Estatus</span>
                    </div>
                    <input type="text" class="form-control rounded-left" style="width: 10%;" disabled>
                </div>

                <div class="form-group" style="width: 95%">
                    <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -93%">Motivos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="resize: none" disabled></textarea>
                </div>

                <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -87%;margin-top: 20px">Sustentos</label>
                <div style="width: 60%; margin-left: -35%">
                    <div class="list-group" style="text-align: left;">
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                        <a href="#" class="list-group-item"><span class='fi-rr-arrow-up-right-from-square'></span> Sustento</a>
                    </div>
                </div>

                <div class="form-group" style="width: 95%">
                    <label class="etiquetas" for="exampleFormControlTextarea1" style="margin-left: -80.5%">Evaluación de la solicitud</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="resize: none" disabled></textarea>
                </div>
            </form>

        </div>

        <div class="">
            <h6 style="text-align: center">
                © Tecnológico Nacional de México, 2023
            </h6>
        </div>
    </section>

    <script src="{% static 'js/script-sidebar.js' %}"></script>

</body>
</html>