<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>SiiCA - Nombre de Ventana</title>
    <link rel="shortcut icon" href="http://localhost:63342/SiiCA/imagenes/IconoSiiCA.ico"/>
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/imagenes/iconos/css/uicons-regular-rounded.css">


</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text" style="margin-top: 15px" >
                <span class="image">
                    <a href="http://localhost:63342/SiiCA/templates/.html"><img src="http://localhost:63342/SiiCA/imagenes/LogoSiiCA.png" ></a>
                </span>

                <div class="text logo-text">
                    <a href="http://localhost:63342/SiiCA/templates/.html"><img src="http://localhost:63342/SiiCA/imagenes/LetrasSiiCA.png" alt="" style="height: 30px"></a>
                </div>
            </div>
            <i class='fi-rr-angle-small-right toggle' style="color: #DDD"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-add icon' ></i>
                            <span class="text nav-text">Opción 1</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-add icon' ></i>
                            <span class="text nav-text">Opción 2</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-add icon'></i>
                            <span class="text nav-text">Opción 3</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="">
                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                        <i class='fi-rr-user-gear icon' ></i>
                        <span class="text nav-text">Cuenta</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                        <i class='fi-rr-sign-out-alt icon' ></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">

        <h1 class="text" style="text-align: center" ><b>Nombre de ventana</b></h1>

        <div align="center" class="container cuadro" >

        </div>

        <div class="">
            <h6 style="text-align: center">
                © Tecnológico Nacional de México, 2023
            </h6>
        </div>
    </section>

    <script src="http://localhost:63342/SiiCA/templates/js/script-sidebar.js"></script>

</body>
</html>