<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>SiiCA - 404: Página no encontrada</title>
    <link rel="shortcut icon" href="http://localhost:63342/SiiCA/imagenes/IconoSiiCA.ico"/>
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/imagenes/iconos/css/uicons-regular-rounded.css">
</head>
<body style="padding: 5%">
    <div class="container cuadro" style="width: 500px; padding: 40px">
        <div style="width: auto;">
            <center>
               <img align="center" style="margin-top: 0px; margin-bottom: 20px" src="http://localhost:63342/SiiCA/imagenes/LogoHorizontalSiiCA.png" width="400" alt=""/>
            </center>
        </div>

        <h1 style="color: #ef512e; font-size: 60px"><b>Error 404</b></h1>
        <h1>Página no encontrada</h1>

        <button type="button" class="btn btn-primary" style="margin-top: 5px" onclick="history.back ()">Volver</button>
    </div>
    <div>
        <h6 style="text-align: center">
            © Tecnológico Nacional de México, 2023
        </h6>
    </div>
</body>
</html>
