<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión - SiiCA</title>
    <link rel="shortcut icon" href="http://localhost:63342/SiiCA/imagenes/IconoSiiCA.ico"/>
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/imagenes/iconos/css/uicons-regular-rounded.css">
</head>
<body style="padding: 5%">
    <div align="center" class="container cuadro-is" style="width: 500px">
        <img style="margin-top: 0px; margin-bottom: 20px" src="http://localhost:63342/SiiCA/imagenes/LogoHorizontalSiiCA.png" width="400" alt=""/>

        <h3 style="margin-top: 0px"><span class="fi fi-rr-user"/>  Iniciar sesión</h3>

        <div class="input-group mb-3" style="margin-top: 20px; width: 250px">
            <input type="text" class="form-control" name="usuario" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
        </div>
        <div class="form-group" style="margin-top: 20px; width: 250px">
            <input type="password" class="form-control" name="contrasena" id="exampleInputPassword1" placeholder="Contraseña">
        </div>

        <div class="d-grid gap-2" style="margin-top: 20px; width: 150px;">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>

        <div class="d-grid gap-2" style="margin-top: 6px; margin-bottom: 13px; width: 215px;">
            <button type="button" class="btn btn-link">¿Olvidaste la contraseña?</button>
        </div>
    </div>
    <div>
        <h6 style="text-align: center">
            © Tecnológico Nacional de México, 2023
        </h6>
    </div>
</body>
</html>
