<!DOCTYPE html>
<html lang="es_MX">
<head>
    <meta charset="UTF-8">
    <title>SiiCA - Coordinadores</title>
    <link rel="shortcut icon" href="http://localhost:63342/SiiCA/imagenes/IconoSiiCA.ico"/>
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/templates/css/bootstrap-grid.css">
    <link rel="stylesheet" href="http://localhost:63342/SiiCA/imagenes/iconos/css/uicons-regular-rounded.css">


</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text" style="margin-top: 15px">
                <span class="image">
                    <a href="http://localhost:63342/SiiCA/templates/Coordinadores.html"><img src="http://localhost:63342/SiiCA/imagenes/LogoSiiCA.png" /></a>
                </span>

                <div class="text logo-text">
                    <a href="http://localhost:63342/SiiCA/templates/Coordinadores.html"><img src="http://localhost:63342/SiiCA/imagenes/LetrasSiiCA.png" alt="" style="height: 30px"/></a>
                </div>
            </div>
            <i class='fi-rr-angle-small-right toggle' style="color: #DDD"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-file-edit icon' ></i>
                            <span class="text nav-text">Solicitudes por evaluar</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                            <i class='fi-rr-search-alt icon' ></i>
                            <span class="text nav-text">Solicitudes evaluadas</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="">
                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Coordinadores/Cuenta.html">
                        <i class='fi-rr-user-gear icon' ></i>
                        <span class="text nav-text">Cuenta</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="http://localhost:63342/SiiCA/templates/Error_404.html">
                        <i class='fi-rr-sign-out-alt icon' ></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">

        <h1 class="text" style="text-align: center; margin-bottom: 0px" ><b>Coordinadores</b></h1>

        <div align="center" class="container cuadro">
            <h4 style="margin-top: -5px; margin-bottom: 10px"><b>Solicitudes</b></h4>

            <form>
                <div class="list-group" style="text-align: left;">
                    <a href="#" class="list-group-item">
                        <div style="margin-top: 10px; margin-bottom: -5px">
                            <span class='fi-rr-arrow-up-right-from-square'></span> Solicitud
                            <button type="button"  style="margin-left: 92%;margin-top: -40px;" class="btn btn-primary">Consultar</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div style="margin-top: 10px; margin-bottom: -5px">
                            <span class='fi-rr-arrow-up-right-from-square'></span> Solicitud
                            <button type="button"  style="margin-left: 92%;margin-top: -40px;" class="btn btn-primary">Consultar</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div style="margin-top: 10px; margin-bottom: -5px">
                            <span class='fi-rr-arrow-up-right-from-square'></span> Solicitud
                            <button type="button"  style="margin-left: 92%;margin-top: -40px;" class="btn btn-primary">Consultar</button>
                        </div>
                    </a>
                </div>
            </form>
        </div>

        <div class="">
            <h6 style="text-align: center">
                © Tecnológico Nacional de México, 2023
            </h6>
        </div>
    </section>

    <script src="http://localhost:63342/SiiCA/templates/js/script-sidebar.js"></script>

</body>
</html>